body {
    margin: 0;
    font-family: 'Roboto', 'Noto', sans-serif;
    background-color: #eee;
}

app-toolbar {
    background-color: #4285f4;
    color: #fff;
}

.card {
    width: 500px;
}

.card .card-content {
    background-color: gray;
    color: #fff;
}

.questions {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question img {
    text-align: center;
    padding: 1px;
    border: 5px solid #fff;
    background-color: #fff;
    display: block;
    margin: auto;
}

.category {
    width: 15%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.category paper-button {
    width: 100%;
    min-height: 100px;
    background-color: var(--paper-green-500);
    color: #fff;
    /*float: left;*/
    margin-bottom: 25%;
}

paper-button:hover {
    /*background: lime;*/
    background-color: var(--paper-indigo-100);
}
